<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>banana.xml</string>
	<key>1</key>
	<string>plane.xml</string>
	<key>2</key>
	<string>apple.xml</string>
	<key>3</key>
	<string>eiffel.xml</string>
	<key>4</key>
	<string>cube.xml</string>
</dict>
</plist>
